<h1>Poll for <span>{{title}}</span></h1>
<ul>
    <li>Id: {{ pollId }}</li>
    <li>Title: {{ title }} </li>
    <li>Question: {{ question }}</li>
</ul>

<form>
	<div ng-repeat="option in choices">
		<!-- Get key of object ng-value="$index" ng-model="$parent.choices[$index].choice"-->
		<input type="radio" ng-model="$parent.choice" ng-value="$index+1"/>{{ option.choice }} :
			<span ng-bind="$parent.choices[$index].votes"></span> votes<br />
	</div>
	<input type ="submit" value="Vote" ng-click="vote()">
</form>
<button ng-click="reset()">Reset Votes</button>
	<br />
<a href="index.php">Home</a>



